* {
  box-sizing: border-box;
}

.header {
  text-align: center;
}

h1 {
  margin-top: 0px;
}

img {
  width: 300px;
  height: 300px;
}

.single {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  grid-gap: 50px;
  justify-items: center;
}
